RewriteEngine On

# If the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to 404.html
RewriteRule ^(.*)$ ./404.html [L]
